<div class="container">
  <div class="flex-box">
    <select [(ngModel)]="ver" (change)="verificar()" class="form-select" aria-label="Default select example">
      <option value = "0" selected>Escolha sua opção de relatorio</option>
      <option [value]="1">Faturamento</option>
      <option [value]="2">Inadimplentes</option>
    </select>
  </div>
  <br>
  <div id="conteudo" class="row">
    <div *ngIf="faturamento" class="col-md-12">
      <h2>Faturamento</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descrição</th>
            <th>Assinantes</th>
            <th>Valor</th>
            <th>Faturamento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of relatorios;">
            <td>{{item.iD_SERVICO}}</td>
            <td>{{item.descricao}}</td>
            <td>{{item.assinantes}}</td>
            <td>{{item.valor}}</td>
            <td>{{item.faturamento}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="inadimplente" class="col-md-12">
      <h2>Inadimplentes</h2>
      <div class="row">
        <div class="col-lg-5">
          <input [(ngModel)]="cpf" class="form-control" type="text" />
        </div>
        <div class="col-lg-2">
          <button class="btn btn-outline-success" (click)="buscaCpf()">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
      <div *ngIf="verifica">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>CPF</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Preço</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of relatorios;">
              <td>{{item.CPF}}</td>
              <td>{{item.NOME}}</td>
              <td>{{item.DESCRICAO}}</td>
              <td>{{item.PRECO}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
