<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <input [(ngModel)]="cpf" class="form-control" type="text" />
    </div>
    <div class="col-lg-2">
      <button class="btn btn-outline-success" (click)="buscaCpf()">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div>
  <div class="my-4">
    <h2>{{ retorno[0]?.nome }}</h2>
  </div>
  <div class="grid">
    <div class="mostraCards" *ngIf="!verifica">
      <div class="cards" *ngFor="let item of retorno">
        <div class="card">
          <div class="card-body">
            <p><strong>Produto: </strong>{{ item.descricao }}</p>
            <p><strong>Valor: </strong>{{ item.preco.toFixed(2) }}</p>
            <p>
              <strong>Assinante desde: </strong>{{ item.dt_contratacao | date }}
            </p>
            <div style="display: flex; justify-content: flex-end;">
              <button class="btn btn-sm me-2 btn-outline-danger" >
                <i class="bi bi-x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contratacao" *ngIf="retorno.length > 0">
      <h3>Serviços Disponíveis</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Tipo</td>
            <td>Preço</td>
            <td style="text-align: center">Selecionar</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of servicosCheck; let i = index">
            <td>{{ item.descricao }}</td>
            <td>{{ item.preco }}</td>
            <td style="text-align: center">
              <input
                [checked]="item.check"
                type="checkbox"
                (input)="insereServico(item)"/>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-lg me-2 btn-outline-success" (click)="contrataServico()">
        <i class="bi bi-cart-check"></i>
      </button>
    </div>
  </div>
</div>
