<h2 class="text-center">Entrar</h2>
<form [formGroup]="form" >
  <h2>Login</h2>
  <div class="form-floating mb-3">
    <input name="cpf" id="cpf" formControlName="cpf" required
    type="text" class="form-control" id="floatingInput" placeholder="CPF">
    <label for="floatingInput">CPF</label>
  </div>
  <div class="form-floating mb-3">
    <input name="password" id="password" formControlName="senha" required
    type="password" class="form-control" id="floatingInput" placeholder="Senha">
    <label for="floatingInput">Senha</label>
  </div>
  <button type="submit" class="btn btn-primary btn-block" (click)="validar()">Entrar</button>
</form>
