<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="usuario" class="nav-link fw-semibold" >Usuários</a></li>
        <li class="nav-item"><a routerLink="servico" class="nav-link fw-semibold">Serviços</a></li>
        <li class="nav-item"><a routerLink="contratacao" class="nav-link fw-semibold">Serviços Contratados</a></li>
        <li class="nav-item"><a routerLink="relatorio" class="nav-link fw-semibold">Relatórios</a></li>
        <li class="nav-item"><a (click)="sair()" class="nav-link fw-semibold">Sair</a></li>
      </ul>
    </header>
</div>

