<div class="container">
  <div class="flex-box">
    <div class="titulo">
      <h2>Usuários Cadastrados</h2>
    </div>
    <div class="flex-item printnone">
      <a routerLink="/cadastro">
        <button class="btn btn-sm btn-outline-success me-2">
          <i class="bi bi-plus-lg"></i>
        </button>
      </a>
      <a href="">
        <button class="btn btn-sm btn-outline-success me-2" (click)="imprimir('conteudo')">
          <i class="bi bi-printer"></i>
        </button>
      </a>
    </div>
  </div>
  <div id="conteudo" class="row">
    <div *ngIf="!edita" class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th class="printnone">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios;">
            <td>{{item.nome}}</td>
            <td>{{item.idade}}</td>
            <td>{{item.cpf}}</td>
            <td>{{item.rg}}</td>
            <td>{{item.data_nasc}}</td>
            <td>{{item.endereco}}</td>
            <td>{{item.cidade}}</td>
            <td class="align-middle">
              <div class="btn-group">
                <button class="me-2 btn btn-sm btn-outline-primary" (click)="editar(item);">
                  <i class="bi bi-pencil"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="setCpf(item);" data-bs-toggle="modal"
                  data-bs-target="#modalConfirmacao">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="edita" class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Data de Nascimento</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th class="printnone">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios;">
            <td>{{item.nome}}</td>
            <td>{{item.idade}}</td>
            <td>{{item.cpf}}</td>
            <td>{{item.rg}}</td>
            <td>{{item.data_nasc}}</td>
            <td>{{item.endereco}}</td>
            <td>{{item.cidade}}</td>
            <td class="align-middle">
              <div class="btn-group">
                <button class="me-2 btn btn-sm btn-outline-primary" (click)="edita=!edita">
                  <i class="bi bi-x"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="setCpf(item);" data-bs-toggle="modal"
                  data-bs-target="#modalConfirmacao">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="edita" class="offset-md-2 col-md-4" style="position: relative">
      <h2>Edição de cadastro</h2>
      <div class="form-floating mb-3">
        <input [(ngModel)]="nome" type="text" class="form-control" id="floatingInput" placeholder="Nome">
        <label for="floatingInput">Nome</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="idade" type="text" class="form-control" id="floatingInput" placeholder="Idade">
        <label for="floatingInput">Idade</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="cpf" type="text" class="form-control" id="floatingInput" placeholder="CPF">
        <label for="floatingInput">CPF</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="rg" type="text" class="form-control" id="floatingInput" placeholder="RG">
        <label for="floatingInput">RG</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="data_nasc" type="text" class="form-control" id="floatingInput"
          placeholder="Data de Nascimento">
        <label for="floatingInput">Data de Nascimento</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="endereco" type="text" class="form-control" id="floatingInput" placeholder="Endereço">
        <label for="floatingInput">Endereço</label>
      </div>
      <div class="form-floating mb-3">
        <input [(ngModel)]="cidade" type="text" class="form-control" id="floatingInput" placeholder="Cidade">
        <label for="floatingInput">Cidade</label>
      </div>
      <button class="mt-2 btn btnsm btn-outline-success" (click)="salvar()">
        <i class="bi bi-check2"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal Confirmação Exclusão -->
<div class="modal fade" id="modalConfirmacao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmar exclusão</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir o registro?
        <br />
        <strong>Nome:</strong> {{ nome }}
        <br />
        <strong>Cpf:</strong> {{ cpf }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="excluir()">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
